.my-input {
	border-radius: 2px !important;
}

.add-contact-form {
	margin-top: 20px !important;
}

.call-action {
	background-color: orange;
	color: white;
}

.btn-space {
	margin-left: 4px;
	margin-right: 4px;
	margin-top: 16px;
}